<!-- <mat-grid-list cols="5">
  <mat-grid-tile colspan="1">
    <app-menu></app-menu>
  </mat-grid-tile>
  <mat-grid-tile colspan="4">
    <app-feedback></app-feedback>
    <app-content></app-content>
  </mat-grid-tile>
</mat-grid-list> -->

<mat-drawer-container class="home-container">
  <mat-drawer mode="side" opened>

  </mat-drawer>
  <mat-drawer-content>
    <mat-card class="card-container">
      <mat-card class="card-header">
        <app-feedback></app-feedback>
      </mat-card>
      <mat-card class="card-content">
        <app-content></app-content>
      </mat-card>
      <mat-card class="card-footer">
        <app-api-route></app-api-route>
      </mat-card>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>