/* Common styles for all pages */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f9f9f9;
}

main {
    flex: 1;
    padding: 0px;
    overflow-y: auto;
    background: white;
    border-radius: 8px;
    margin: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    height: 100%; 
    gap: 0;
}